@{
    ViewData["Title"] = "Geeky settings?";
    ViewData["CurrentStep"] = 6;
    var moreMemory = Model.Settings.AdditionalFragments.Contains("opt-more-memory");
    var saveMemory = Model.Settings.AdditionalFragments.Contains("opt-save-memory");
    var sd = JsonSerializer.Deserialize<ConfiguratorSettings>(Model.Json).ServerData;
    string memorySuggestion = "";
    string fragmentSetSuggestion= "";
    decimal? ramGB = null;
    if (sd?.MemoryBytes is {})
    {
        ramGB =((sd.MemoryBytes.Value / 1000m) / 1024m) / 1024m;
        if (ramGB.Value < 1.9m && !saveMemory)
        {
            memorySuggestion = "opt-save-memory";
            fragmentSetSuggestion = $"fragmentset+opt-save-memory,-opt-more-memory";
        }else if(ramGB.Value > 3.9m && !moreMemory)
        {
            memorySuggestion = "opt-more-memory";
            fragmentSetSuggestion = $"fragmentset-opt-save-memory,+opt-more-memory";
        }
    }
    
}
@using System.Text.Json
@model UpdateSettings<AdvancedSettings, AdvancedSettingsAdditionalData>;
<form class="container" method="post" asp-action="AdvancedSettings">
    @* <div asp-validation-summary="All" class="text-danger"></div> *@
    <input type="hidden" asp-for="Json"/>
    <div class="row mb-4">
        <h2 class=" text-center w-100">@ViewData["Title"]</h2>
    </div>

    @if (!string.IsNullOrEmpty(memorySuggestion))
    {
        <div class="row mb-4">
        <div class="alert alert-info m-auto text-center">
            We've detected that your server has @ramGB.Value.ToString("0.00") GB RAM. We recommend that you use the <kbd>@memorySuggestion</kbd> fragment.<br/>
            <label class="btn btn-link h2 w-100 text-center">
                <input type="submit" name="command" value="@fragmentSetSuggestion" class="d-none"/>
                Set now
            </label>
        </div>
        </div>
    }
    
    @if (!Model.Additional.ShowSettings)
    {
        <div class="row mb-4">
            <div class="col-md-6 col-sm-12 offset-md-3">
              <div class="card shadow-sm">
                  <div class="card-body w-100 text-center">
                      <button type="submit" class="btn btn-primary ">
                          Continue
                      </button>
                      <br/>
                      <br/>
                      <label class="btn btn-link h2 w-100 text-center">
                          <input type="submit" name="command" value="show" class="d-none"/>
                          Show me the advanced settings.
                      </label>
                  </div>
              </div>
            </div>
        </div>
    }

    <div class="row mb-4 @(Model.Additional.ShowSettings ? string.Empty : "invisible")">
        <div class="col-md-6 col-sm-12 offset-md-3 pt-4">
            <div class="card shadow-sm">
                <h3 class="card-title text-center m-3">Additional fragments</h3>
                <ul class="list-group list-group-flush" style="list-style-type: none">
                    @for (var index = 0; index < Model.Settings.AdditionalFragments.Count; index++)
                    {
                        <li class="list-group-item justify-content-between align-items-center">
                            <div class="form-group">
                                <div class="input-group m-2 pr-3">
                                    <input class="form-control" asp-for="Settings.AdditionalFragments[index]" placeholder="Fragment">
                                    <div class="input-group-append">
                                        <label class="btn btn-outline-secondary">
                                            Remove
                                            <input type="submit" name="command" value="@($"remove-additional:{index}")" class="d-none"/>
                                        </label>
                                    </div>
                                </div>
                                <span asp-validation-for="Settings.AdditionalFragments[index]" class="text-danger"></span>
                            </div>
                        </li>
                    }
                    <label class="list-group-item-action text-center m-0 p-3">
                        <input type="submit" name="command" value="add-additional" class="d-none"/>
                        Add additional fragment
                    </label>
                </ul>
            </div>
        </div>
    </div>
    <div class="row mb-4 @(Model.Additional.ShowSettings ? string.Empty : "invisible")">
        <div class="col-md-6 col-sm-12 offset-md-3 pt-4">
            <div class="card shadow-sm">
                <h3 class="card-title text-center m-3">Excluded fragments</h3>
                <ul class="list-group list-group-flush" style="list-style-type: none">
                    @for (var index = 0; index < Model.Settings.ExcludedFragments.Count; index++)
                    {
                        <li class="list-group-item justify-content-between align-items-center">
                            <div class="form-group">
                                <div class="input-group m-2 pr-3">
                                    <input class="form-control" asp-for="Settings.ExcludedFragments[index]" placeholder="Fragment">
                                    <div class="input-group-append">
                                        <label class="btn btn-outline-secondary">
                                            Remove
                                            <input type="submit" name="command" value="@($"remove-excluded:{index}")" class="d-none"/>
                                        </label>
                                    </div>
                                </div>
                                <span asp-validation-for="Settings.ExcludedFragments[index]" class="text-danger"></span>
                            </div>
                        </li>
                    }
                    <label class="list-group-item-action text-center m-0 p-3">
                        <input type="submit" name="command" value="add-excluded" class="d-none"/>
                        Add excluded fragment
                    </label>
                </ul>
            </div>
        </div>
    </div>
    <div class="row mb-4 @(Model.Additional.ShowSettings ? string.Empty : "invisible")">
        <div class="col-md-6 col-sm-12 offset-md-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h3 class="card-title text-center">Fork settings</h3>
                    <div class="form-group">
                        <label asp-for="Settings.BTCPayDockerRepository"></label>
                        <input class="form-control" asp-for="Settings.BTCPayDockerRepository">
                        <span asp-validation-for="Settings.BTCPayDockerRepository" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Settings.BTCPayDockerBranch"></label>
                        <input class="form-control" asp-for="Settings.BTCPayDockerBranch">
                        <span asp-validation-for="Settings.BTCPayDockerBranch" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Settings.CustomBTCPayImage"></label>
                        <input class="form-control" asp-for="Settings.CustomBTCPayImage">
                        <span asp-validation-for="Settings.CustomBTCPayImage" class="text-danger"></span>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row @(Model.Additional.ShowSettings ? string.Empty : "invisible")">
        <div class="col-md-6 col-sm-12 offset-md-3 text-center">
            <button type="submit" class="m-auto btn btn-primary btn-lg">Continue</button>
        </div>
    </div>
</form>
