@model UpdateSettings<ConfiguratorSettings, BTCPayServerDockerConfigurator.Controllers.DeployAdditionalData>
@{
    ViewData["Title"] = "Deploying your BTCPay Server!";
    ViewData["CurrentStep"] = 8;
    var id = Context.Request.RouteValues["id"];
}
<div class="container">
    @if (!Model.Additional.InProgress)
    {
        if (Model.Settings.DeploymentSettings.DeploymentType != DeploymentType.Manual)
        {
            <div class="row mb-4">
                <div class="col-md-6 col-sm-12 offset-md-3">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h3 class="card-title">Response</h3>
                            @if (Model.Additional.ExitStatus == 0)
                            {
                                <iframe src="@Url.Action("GetOnionUrl")" frameborder="0" class="w-100" style="height: 50px" scrolling="no">

                                </iframe>
                                <div class="input-group form-group">

                                    <input class="form-control  border-right-0" onclick="this.select();" type="text" style="font-size:0.75em;" value="https://@Model.Settings.DomainSettings.Domain" readonly="">
                                    <div class="input-group-append">
                                        <a href="https://@Model.Settings.DomainSettings.Domain" class="input-group-text text-decoration-none  p-0 px-2">
                                            <span class="input-group-addon">⮞</span>
                                        </a>
                                    </div>
                                </div>
                            }
                            <code class="d-block" style="max-height: 250px; overflow-y: scroll">
                                @Html.Raw(Model.Additional.Output?.Replace("\n", "<br/>"))<br/>
                                @Html.Raw(Model.Additional.Error?.Replace("\n", "<br/>"))
                            </code>
                        </div>
                        @if (Model.Additional.ExitStatus != 0)
                        {
                            <form class="card-footer" asp-action="Deploy">
                                <button type="submit" class="btn-primary btn-primary">Retry</button>
                            </form>
                        }
                    </div>

                </div>
            </div>
        }
        <div class="row mb-4">
            <div class="col-md-6 col-sm-12 offset-md-3">
                <div class="card shadow-sm">
                    <div class="card-body">
                        @if (Model.Settings.DeploymentSettings.DeploymentType != DeploymentType.Manual)
                        {
                            <h3 class="card-title">Executed commands</h3>
                        }
                        else
                        {
                            <h3 class="card-title">Copy these commands to your terminal</h3>
                        }

                        <code>
                            @Html.Raw(Model.Additional.Bash.Replace(Environment.NewLine, "<br/>"))
                        </code>

                    </div>
                </div>

            </div>
        </div>
    }

</div>
@if (Model.Additional.InProgress)
{
    <div class="modal" tabindex="-1" role="dialog" id="deploying-modal" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Deploying BTCPay Server</h5>
                </div>
                <div class="modal-body">
                    <p>We're sending the commands to the server and executing. This could take a few minutes!</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                    </div>

                    <code class="d-block my-2" id="output" style="max-height: 50vh;
                                                  overflow-y: scroll;">
                        @Html.Raw(Model.Additional.Output?.Replace("\n", "<br/>"))
                    </code>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts
{
    <script>
    $(document).ready(function(){
        $("form").on("submit", function(){ $("#deploying-modal").modal("show");});
    });

    </script>
    @if (Model.Additional.InProgress)
    {
        <script>
        $(document).ready(function(){
            $("#deploying-modal").modal("show");
            update();
        });

        function update(){
             $.ajax({url: window.location + "?json=true", success: function(result){
                 if(!result.additional.inProgress){
                    window.top.location.reload();
                 }else{
                     window.setTimeout(update, 3000);
                 }
                $("#output").html(result.additional.output.replace(/\n/g, '<br/>'));
                var el = document.getElementById("output");
                el.scrollIntoView(false);
              }});
        }

    </script>
    }

}
