<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - BTCPayServer Docker Configurator</title>
    <link rel="stylesheet" href="~/css/btcpayserver-variables.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/btcpayserver-bootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/btcpayserver-main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link rel="apple-touch-icon" sizes="180x180" href="~/apple-touch-icon.png" asp-append-version="true">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32x32.png" asp-append-version="true">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon-16x16.png" asp-append-version="true">
    <link rel="manifest" href="~/site.webmanifest" asp-append-version="true">
    <link rel="mask-icon" href="~/safari-pinned-tab.svg" color="#51b13e" asp-append-version="true">
    <meta name="msapplication-TileColor" content="#0f3b21">
    <meta name="theme-color" content="#ffffff">

    @functions{

        string GetClass(int step)
        {
            var currentStep = 0;
            if (ViewData.TryGetValue("CurrentStep", out var currstep))
            {
                currentStep = (int) currstep;
            }

            if (currentStep == step)
            {
                return "btn-primary";
            }
            else if (currentStep > step)
            {
                return "btn-success";
            }
            return "btn-secondary btn-disabled";
        }

    }

</head>
<body>
<header class="btcpay-header mb-5">
    <div class="container p-3">
        <h1 class="text-center w-100 mb-4">BTCPay Server Configurator</h1>
        <div class="wizard">
            <div class="wizard-inner">
                <div class="connecting-line d-none d-md-block"></div>
                <ul class="nav nav-fill w-100">
                    <li class="nav-item active">
                        @if (GetClass(1).Contains("btn-disabled"))
                        {
                            <button type="button" class="btn btn-circle @GetClass(1)">1</button>
                        }
                        else
                        {
                            <a asp-action="DeploymentDestination" class="btn btn-circle @GetClass(1)">1</a>
                        }
                        <p>Destination</p>
                    </li>
                    <li class="nav-item">
                        @if (GetClass(2).Contains("btn-disabled"))
                        {
                            <button type="button" class="btn btn-circle @GetClass(2)">2</button>
                        }
                        else
                        {
                            <a asp-action="DomainSettings" class="btn btn-circle @GetClass(2)">2</a>
                        }
                        <p>Domain</p>
                    </li>
                    <li class="nav-item">
                        @if (GetClass(3).Contains("btn-disabled"))
                        {
                            <button type="button" class="btn btn-circle @GetClass(3)">3</button>
                        }
                        else
                        {
                            <a asp-action="ChainSettings" class="btn btn-circle @GetClass(3)">3</a>
                        }
                        <p>Chain</p>
                    </li>
                    <li class="nav-item">
                        @if (GetClass(4).Contains("btn-disabled"))
                        {
                            <button type="button" class="btn btn-circle @GetClass(4)">4</button>
                        }
                        else
                        {
                            <a asp-action="LightningSettings" class="btn btn-circle @GetClass(4)">4</a>
                        }
                        <p>Lightning</p>
                    </li>
                    <li class="nav-item">
                        @if (GetClass(5).Contains("btn-disabled"))
                        {
                            <button type="button" class="btn btn-circle @GetClass(5)">5</button>
                        }
                        else
                        {
                            <a asp-action="AdditionalServices" class="btn btn-circle @GetClass(5)">5</a>
                        }
                        <p>Additional</p>
                    </li>
                    <li class="nav-item">
                        @if (GetClass(6).Contains("btn-disabled"))
                        {
                            <button type="button" class="btn btn-circle @GetClass(6)">6</button>
                        }
                        else
                        {
                            <a asp-action="AdvancedSettings"  class="btn btn-circle @GetClass(6)">6</a>
                        }
                        <p>Advanced</p>
                    </li>
                    <li class="nav-item">
                        @if (GetClass(7).Contains("btn-disabled"))
                        {
                            <button type="button" class="btn btn-circle @GetClass(7)">7</button>
                        }
                        else
                        {
                            <a asp-action="Summary" class="btn btn-circle @GetClass(7)">7</a>
                        }
                        <p>Summary</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)
@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
</body>
</html>
